#about{
    height:100vh;
}

#name{
    font-family: 'Fredericka the Great', cursive;;
    font-size:calc(2vw + 23px);
    margin-bottom: -10px;

}

#profession{
    font-family: 'Alkatra', cursive;
    margin-bottom: 5px;
}
#mystory{
    font-family: sans-serif;
    text-align: justify;
}


#contact i{
    font-size: calc(2vw + 25px);
    color:burlywood;
    cursor: pointer;
   
 
}


#contact .hidden{
  opacity: 0;
}
#contact:hover .hidden {
    opacity: 1;
   
  
}

#deploys .card-footer{
overflow:auto;
text-overflow: ellipsis;
 white-space: nowrap;

}
#deploys .ticket img{
height: calc(12em + 8vw );
}

#deploys .card-text b{
    cursor: pointer;
}
